<div class="middle-box text-center forgotscreen animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name"> <img src="assets/images/logo-text.png" alt="Image" ></h1>
    </div>
    <h3>Forgot Password</h3>
    <form [formGroup]="form" class="m-t" (ngSubmit)="forgotPassword()">
      <div *ngIf = "passwordReset">{{message}}</div>
      <div class="form-group">
      <div class="adlogin-row">
        <md-input-container>
          <input mdInput class="txt-name" formControlName="email" placeholder="Email Address">
          <md-error>This field is required</md-error>
        </md-input-container>
      </div>
        <button class="adminLogin" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
