body{
  background-color: #f3f3f4;
  .middle-box h1 {
    color:#1ab394;
    font-size:144px;
  }
.forgotscreen {
    max-width:450px;
    width: 100% !important;
    padding-left: 3%;
    padding-right: 3%;
      .logo-name {
        img{
           max-width: 220px;
           width: 100%;
           vertical-align: top;
         }
      }
      h3 {
        margin: 0;
        padding: 0 0 10px 0;
        color: #444;
        font-size: 19px;
      }
}

.adminLogin{
    max-width: 480px;
    float: right;
    width: 100%;
    background: url(../../../../assets/images/checkout-btn.png) no-repeat;
    background-size: cover;
    padding: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;

      &:hover { 
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
      }

      &:focus {
       outline: none;
      }
  }

.adlogin-row {
  float: left;
  min-height: 60px;
  width: 100%;
  label {
    float: left ;
    width: 40% ;
    font-size: 15px !important;
    color: #444 ;
    line-height: 40px !important;
    font-weight: 400;
  }
  .mat-form-field-underline {
    height: 0px;
    .mat-form-field-ripple {
      background: transparent
    }
  }
  .mat-input-element::-moz-placeholder {
    color: #444 !important;
  }
  .mat-input-element::placeholder {
    color: #444 !important;
  }
  .mat-form-field-wrapper{
    padding-bottom:0;
  }
  .mat-form-field-infix{
    border-top: 0px;
    padding: 0px;
  }
  .mat-form-field {
    width: 100%;
    .mat-form-field-placeholder-wrapper {
      top: -13px;
      left: 0;
      display:none;
    }
    input {
      box-shadow: none;
      border: 1px solid #444;
      border-radius: 5px !important;
      padding: 8px 30px 8px 8px;
      min-height: 35px;
      box-sizing: border-box;
      width: 100% !important;
      &:focus:not([type]):not([readonly]),
      &[type="password"]:focus:not(.browser-default):not([readonly]) {
        border: 1px solid #444;
        box-shadow: none;
      }
    }
    .mat-form-field-subscript-wrapper{ margin-top: 2px; position: inherit;}

  }
  .mat-form-field-invalid{
    .mat-form-field-placeholder-wrapper{
      color: #f44336;
      font-size: 12px !important;
    }
  }
  .txt-name {
    border: 1px solid #b4b4b4;
    box-sizing: border-box;
    color: #444444;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    min-height: 40px;
    outline: 0 none;
    padding: 8px 8px 8px 8px  !important;
    width: 59% !important;
    border-radius: 5px !important;
    background-image: none;
    background-position: left 8px center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    border: 1px solid #444444 !important;
    box-sizing: border-box !important;
    width: 100% !important;
    background : #fff;
  }
  .mat-input-suffix{
    position: absolute;
    right: 7px;
    top: 12px;
    button{
      &:focus{ background: transparent !important;}
    }
    .mat-icon-button .mat-icon{
      font-size: 25px;
    }
  }
}

}
